[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pylint = "*"
python-dotenv = "~=0.13"
psycopg2-binary = "*"
flask-wtf = "~=0.14"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
